### Home Work with green trip data 
 Link - https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/cohorts/2024/01-docker-terraform/homework.md

In [8]:
import pandas as pd
df=pd.read_csv("green_tripdata_2019-09.csv.gz",nrows=100)

In [9]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
df.head(0).to_sql(name='green_trip_data',con=engine,if_exists='replace')

0

In [10]:
print(pd.io.sql.get_schema(df,name='green_trip_data',con=engine))

CREATE TABLE green_trip_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [ ]:
df.head()

In [ ]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv.gz",iterator=True,chunksize=100000 )

In [ ]:
from time import time

In [4]:
df.head()

df_iter = pd.read_csv("green_tripdata_2019-09.csv.gz",iterator=True,chunksize=100000 )

from time import time

while True:
    try:
        t_start = time()
        df = next(df_iter)
        df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
        df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
        
        df.to_sql(name='green_trip_data', con=engine, if_exists='append')
        t_end = time()

        print("Inserted another chunk..., took %.3f" % (t_end - t_start))
    
    except StopIteration:
        print("No more chunks to read. Exiting the loop.")
        break

Inserted another chunk..., took 12.454
Inserted another chunk..., took 10.448
Inserted another chunk..., took 11.256

/var/folders/3s/k77nbqtx26g61qmpb6_z3s7m0000gn/T/ipykernel_80524/2842111652.py:10: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserted another chunk..., took 12.013
Inserted another chunk..., took 7.017
No more chunks to read. Exiting the loop.

In [6]:
df_zone=pd.read_csv("taxi+_zone_lookup.csv")

In [7]:
df_zone.to_sql(name='zone',con=engine,if_exists='replace')

265